.footer {
  background-color: #131971;
  text-align: right; /* 오른쪽 정렬 */
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  box-sizing: border-box; /* 패딩과 너비를 함께 계산 */
  padding-right: 20px; /* 오른쪽에 20px 패딩 추가 */
}

.footer p {
  color: white;
}
