/* src/components/Header.css */
.header {
  position: fixed; /* 상단 고정 */
  top: 0; /* 화면 맨 위에 위치 */
  left: 0; /* 화면 왼쪽에 맞춤 */
  width: 100%; /* 전체 너비 차지 */
  z-index: 1000; /* 다른 요소보다 위에 위치 */
  background-color: #131971; /* 헤더 배경색 */
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar {
  display: left;
  gap: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center; /* 메뉴 항목들과 로고가 수직으로 정렬되도록 설정 */
}

.nav-links li {
  display: flex;
  align-items: center; /* 로고와 텍스트가 함께 정렬되도록 설정 */
}

.nav-links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px; /* 로고와 텍스트 사이 간격 추가 */
  padding: 10px 55px;
  outline: none; /* 링크의 외곽선을 제거 */
  border: none; /* 링크의 테두리를 제거 */
  box-shadow: none; /* 그림자 제거 */
  background-color: transparent; /* 배경색 제거 */
}

.nav-links a:hover {
  background-color: #555;
  outline: none; /* hover 시 외곽선을 제거 */
  border: none; /* hover 시 테두리를 제거 */
  box-shadow: none; /* 그림자 제거 */
  background-color: transparent; /* 배경색 제거 */
}

.logo {
  width: 50px; /* 로고 크기 조정 */
  height: auto;
  display: flex;
  pointer-events: auto; /* 링크 기능을 위해 클릭 이벤트 유지 */
  outline: none; /* 로고에 대한 외곽선 제거 */
  border: none; /* 로고에 대한 테두리 제거 */
}

.login-button {
  background-color: #fffefe;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
