/* src/components/Tabs.css */
.tabs {
  display: inline-flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 100px;
  margin-top: -110px;
  z-index: 999; /* 헤더보다 낮은 z-index */
  background-color: transparent; /* 배경색 제거 */
}

.tabs button {
  /* background-color: #ddd; */
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #555;
  color: white;
}
